.app {
    background-color:var(--background);
    color: var(--light);
}

.page {
    margin-top:9vh;
    margin-bottom:15vh;
}
/* 
.link-tag{
    
} */

.link-tag:link, .link-tag:visited {
    color:lightseagreen;
    text-decoration: none;
    font-weight:bold;
}

.link-tag:hover {
    box-shadow: inset 0px 0px 10px 5px var(--highlight);
}