:root {
  --background: #1F2E4D;
  --dark:#F6C531;
  --mid:#FCF765;
  --light: #F3F3F3;
  --highlight:rgb(130, 245, 245);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  margin: 0;
  height:100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
